<ion-view view-title="Settings">
  <ion-content on-swipe-right="goBack()" on-swipe-left="goForward()">
	<div class="list">
<!-- 	  <div class="item item-avatar">
            <img src="img/dinorsaur.png" width="30" height="30">
            <h2>Khoa Phạm</h2>
            1000 <i class="icon ion-star positive"></i>
      </div>
 -->
	  <div class="item item-divider">
      	General
      </div>
	  <a class="item item-icon-left" href="#">
	    <i class="icon ion-person positive"></i>
	    Account Info
	  </a>
	  <a class="item item-icon-left" href="#">
	    <i class="icon ion-camera positive"></i>
	    Camera
	  </a>
	  <div class="item item-toggle item-icon-left">
	  	<i class="icon ion-speakerphone positive"></i>
	  		Notifications
	     <label class="toggle toggle-balanced">
	       <input type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </div>
	  <div class="item item-toggle item-icon-left">
	  	<i class="icon ion-ios-download-outline positive"></i>
	  		Download for offline use
	     <label class="toggle toggle-balanced">
	       <input type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </div>

	  <a class="item item-icon-left" href="#">
	    <i class="icon ion-log-out positive"></i>
	    Log out
	  </a>
	  <div class="item item-divider">
        About
      </div>
  	  <a class="item item-icon-left " href="#">
	    <i class="icon ion-chatbubble-working positive"></i>
	    Support
	  </a>
  	  <a class="item item-icon-left" href="#">
	    <i class="icon ion-chatbubble-working positive"></i>
	    Feedback
	  </a>


	</div>
  </ion-content>
</ion-view>